<form class="form-horizontal" id="signup" action="@routes.Students.signUp()" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>Sign up today!</legend>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="fullName">Full Name</label>
            <div class="controls">
                <input id="fullName" name="fullName" type="text" placeholder="full name" class="input-xxlarge" required="">
            </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input id="email" name="email" type="text" placeholder="email@@email.com" class="input-xxlarge" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input id="password" name="password" type="password" placeholder="password" class="input-xxlarge" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="control-group">
            <label class="control-label" for="password_verify">Confirm Password</label>
            <div class="controls">
                <input id="password_verify" name="password_verify" type="password" placeholder="confirm password" class="input-xxlarge" required="">
            </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label" for="school">University / College</label>
            <div class="controls">
                <select id="school" name="school" class="input-xxlarge">
                    <option>Acharya N.G. Ranga Agricultural University</option>
                    <option>Acharya Nagarjuna University</option>
                    <option>Adikavi Nannaya University</option>
                    <option>Ahmedabad University</option>
                    <option>Alagappa University</option>
                    <option>Aliah University</option>
                    <option>Aligarh Muslim University</option>
                    <option>All India Institute of Medical Sciences</option>
                    <option>Alliance University</option>
                    <option>Amity University</option>
                    <option>Anand Agricultural University</option>
                    <option>Andhra University</option>
                    <option>Anna University</option>
                    <option>Annamalai University</option>
                    <option>Apeejay Stya University</option>
                    <option>Arni University</option>
                    <option>Aryabhatta Knowledge University</option>
                    <option>Assam Agricultural University</option>
                    <option>Assam Don Bosco University</option>
                    <option>Assam University</option>
                    <option>Avinashilingam University</option>
                    <option>Awadhesh Pratap Singh University</option>
                    <option>Ayush and Health Sciences University of Chhattisgarh</option>
                    <option>Azim Premji University</option>
                    <option>B.R. Ambedkar Bihar University</option>
                    <option>B.S. Abdur Rahman University</option>
                    <option>Baba Farid University of Health Sciences</option>
                    <option>Baba Ghulam Shah Badhshah University</option>
                    <option>Babasaheb Bhimrao Ambedkar University</option>
                    <option>Babu Banarasi Das University</option>
                    <option>Baddi University of Emerging Sciences and Technologies</option>
                    <option>BAHRA University</option>
                    <option>Banaras Hindu University</option>
                    <option>Bangalore University</option>
                    <option>Barkatullah University</option>
                    <option>Bengal Engineering and Science University</option>
                    <option>Berhampur University</option>
                    <option>Bhagwant University</option>
                    <option>Bharat Ratna Dr. B.R. Ambedkar University</option>
                    <option>Bharathiar University</option>
                    <option>Bharathidasan University</option>
                    <option>Bharati Vidyapeeth University</option>
                    <option>Bhatkhande Music Institute</option>
                    <option>Bhupendra Narayan Mandal University</option>
                    <option>Biju Patnaik University Of Technology, Orissa</option>
                    <option>Birla Institute of Technology</option>
                    <option>Birla Institute of Technology and Science</option>
                    <option>Birsa Agricultural University</option>
                    <option>Bundelkhand University</option>
                    <option>Calorx Teachers' University</option>
                    <option>Central Agricultural University</option>
                    <option>Central Institute of Fisheries Education</option>
                    <option>Central University of Bihar</option>
                    <option>Central University of Gujarat</option>
                    <option>Central University of Haryana</option>
                    <option>Central University of Himachal Pradesh</option>
                    <option>Central University of Jharkhand</option>
                    <option>Central University of Karnataka</option>
                    <option>Central University of Kashmir</option>
                    <option>Central University of Kerala</option>
                    <option>Central University of Orissa</option>
                    <option>Central University of Punjab</option>
                    <option>Central University of Rajasthan</option>
                    <option>Central University of Tamil Nadu</option>
                    <option>Central University of Tibetan Studies</option>
                    <option>Centurion University of Technology and Management</option>
                    <option>CEPT University</option>
                    <option>Chanakya National Law University</option>
                    <option>Chandra Shekhar Azad University of Agriculture &amp; Technology</option>
                    <option>Charotar University of Science &amp; Technology</option>
                    <option>Chaudhary Charan Singh Haryana Agricultural University</option>
                    <option>Chaudhary Charan Singh University</option>
                    <option>Chaudhary Devi Lal University</option>
                    <option>Chennai Mathematical Institute</option>
                    <option>Chhatrapati Shahuji Maharaj Medical University</option>
                    <option>Chhatrapati Shahuji Maharaj University</option>
                    <option>Chhattisgarh Swami Vivekananda Technical University</option>
                    <option>Chitkara University</option>
                    <option>Cochin University of Science and Technology</option>
                    <option>CSK Himachal Pradesh Agricultural University</option>
                    <option>Damodaram Sanjivayya National Law University</option>
                    <option>Datta Meghe Institute of Medical Sciences</option>
                    <option>Davangere University</option>
                    <option>Dayalbagh Educational Institute</option>
                    <option>Deccan College Post-Graduate and Research Institute</option>
                    <option>Deen Dayal Upadhyay Gorakhpur University</option>
                    <option>Deenbandhu Chhotu Ram University of Science and Technology</option>
                    <option>Delhi Technological University</option>
                    <option>Dharmsinh Desai University</option>
                    <option>Dhirubhai Ambani Institute of Information &amp; Communication Technology</option>
                    <option>Dibrugarh University</option>
                    <option>Doon University</option>
                    <option>Dr K.N. Modi University</option>
                    <option>Dr. B.R. Ambedkar University</option>
                    <option>Dr. B.R. Ambedkar University</option>
                    <option>Dr. Babasaheb Ambedkar Marathwada University</option>
                    <option>Dr. Babasaheb Ambedkar Technological University</option>
                    <option>Dr. C.V. Raman University</option>
                    <option>Dr. Hari Singh Gour University</option>
                    <option>Dr. Ram Manohar Lohia Avadh University</option>
                    <option>Dr. Ram Manohar Lohiya National Law University</option>
                    <option>Dr. Shakuntala Misra Rehabilitation University</option>
                    <option>Dr. Y.S. Parmar University of Horticulture and Forestry</option>
                    <option>Dravidian University</option>
                    <option>EIILM University</option>
                    <option>Eternal University</option>
                    <option>Fakir Mohan University</option>
                    <option>Forest Research Institute</option>
                    <option>Galgotias University</option>
                    <option>Gandhi Institute of Technology and Management</option>
                    <option>Gandhigram Rural University</option>
                    <option>Ganpat University</option>
                    <option>Gauhati University</option>
                    <option>Gautam Buddha University</option>
                    <option>GLA University</option>
                    <option>Goa University</option>
                    <option>Gokhale Institute of Politics and Economics</option>
                    <option>Govind Ballabh Pant University of Agriculture &amp; Technology</option>
                    <option>Gujarat Ayurved University</option>
                    <option>Gujarat Forensic Sciences University</option>
                    <option>Gujarat National Law University</option>
                    <option>Gujarat Technological University</option>
                    <option>Gujarat University</option>
                    <option>Gulbarga University</option>
                    <option>Guru Angad Dev Veterinary and Animal Sciences University</option>
                    <option>Guru Gobind Singh Indraprastha University</option>
                    <option>Guru Jambheshwar University of Science &amp; Technology</option>
                    <option>Guru Nanak Dev University</option>
                    <option>Hemchandracharya North Gujarat University</option>
                    <option>Hemwati Nandan Bahuguna Garhwal University</option>
                    <option>Hidayatullah National Law University</option>
                    <option>Himachal Pradesh University</option>
                    <option>Himgiri ZEE University</option>
                    <option>Hindustan University</option>
                    <option>Homi Bhabha National Institute</option>
                    <option>ICFAI University, Dehradun</option>
                    <option>ICFAI University, Jharkhand</option>
                    <option>ICFAI University, Tripura</option>
                    <option>IFHE Hyderabad</option>
                    <option>IFTM University</option>
                    <option>Indian Agricultural Research Institute</option>
                    <option>Indian Institute of Foreign Trade</option>
                    <option>Indian Institute of Information Technology Allahabad</option>
                    <option>Indian Institute of Information Technology and Management Gwalior</option>
                    <option>Indian Institute of Information Technology, Design and Manufacturing</option>
                    <option>Indian Institute of Science</option>
                    <option>Indian Institute of Space Science and Technology</option>
                    <option>Indian Institute of Technology Bhubaneswar</option>
                    <option>Indian Institute of Technology Bombay</option>
                    <option>Indian Institute of Technology Delhi</option>
                    <option>Indian Institute of Technology Gandhinagar</option>
                    <option>Indian Institute of Technology Guwahati</option>
                    <option>Indian Institute of Technology Hyderabad</option>
                    <option>Indian Institute of Technology Kanpur</option>
                    <option>Indian Institute of Technology Kharagpur</option>
                    <option>Indian Institute of Technology Madras</option>
                    <option>Indian Institute of Technology Patna</option>
                    <option>Indian Institute of Technology Roorkee</option>
                    <option>Indian Institute of Technology Ropar</option>
                    <option>Indian Maritime University</option>
                    <option>Indian School of Mines</option>
                    <option>Indian Statistical Institute</option>
                    <option>Indian Veterinary Research Institute</option>
                    <option>Indira Gandhi Agricultural University</option>
                    <option>Indira Gandhi Institute of Development Research</option>
                    <option>Indira Gandhi National Tribal University</option>
                    <option>Indraprastha Institute of Information Technology</option>
                    <option>Indus International University</option>
                    <option>Institute of Chemical Technology</option>
                    <option>Integral University</option>
                    <option>International Institute for Population Sciences</option>
                    <option>International Institute of Information Technology Bangalore</option>
                    <option>International Institute of Information Technology, Hyderabad</option>
                    <option>Invertis University</option>
                    <option>Islamic University of Science and Technology</option>
                    <option>ITM University</option>
                    <option>Jadavpur University</option>
                    <option>Jagadguru Ramanandacharya Rajasthan Sanskrit University</option>
                    <option>Jagan Nath University</option>
                    <option>Jagdishprasad Jhabarmal Tibrewala University</option>
                    <option>Jai Narain Vyas University</option>
                    <option>Jain Vishva Bharati University</option>
                    <option>Jaipur National University</option>
                    <option>Jawaharlal Institute of Postgraduate Medical Education &amp; Research</option>
                    <option>Jawaharlal Nehru Architecture and Fine Arts University</option>
                    <option>Jawaharlal Nehru Centre for Advanced Scientific Research</option>
                    <option>Jawaharlal Nehru Technological University</option>
                    <option>Jawaharlal Nehru Technological University, Anantapur</option>
                    <option>Jawaharlal Nehru Technological University, Kakinada</option>
                    <option>Jawaharlal Nehru University</option>
                    <option>Jayoti Vidyapeeth Women's University</option>
                    <option>Jaypee University of Engineering &amp; Technology</option>
                    <option>Jaypee University of Information Technology</option>
                    <option>Jiwaji University</option>
                    <option>Jodhpur National University</option>
                    <option>JSS University</option>
                    <option>Junagadh Agricultural University</option>
                    <option>K L University</option>
                    <option>Kakatiya University</option>
                    <option>Kameshwar Singh Darbhanga Sanskrit University</option>
                    <option>Kannada University</option>
                    <option>Kannur University</option>
                    <option>Karnatak University</option>
                    <option>Karnataka State Law University</option>
                    <option>Karnataka State Women's University</option>
                    <option>Karnataka Veterinary, Animal and Fisheries Sciences University</option>
                    <option>Karunya University</option>
                    <option>Kavikulguru Kalidas Sanskrit University</option>
                    <option>Kerala Agricultural University</option>
                    <option>Kerala University of Fisheries and Ocean Studies</option>
                    <option>Kerala University of Health Sciences</option>
                    <option>Kerala Veterinary and Animal Sciences University</option>
                    <option>KIIT University</option>
                    <option>KLE University</option>
                    <option>Kolhan University</option>
                    <option>Krantiguru Shyamji Krishna Verma Kachchh University</option>
                    <option>Krishna University</option>
                    <option>Kumaun University</option>
                    <option>Kurukshetra University</option>
                    <option>Kuvempu University</option>
                    <option>Lakshmibai National Institute of Physical Education</option>
                    <option>Lalit Narayan Mithila University</option>
                    <option>Lovely Professional University</option>
                    <option>Madurai Kamaraj University</option>
                    <option>Magadh University</option>
                    <option>Mahamaya Technical University</option>
                    <option>Maharaja Ganga Singh University</option>
                    <option>Maharaja Krishnakumarsinhji Bhavnagar University</option>
                    <option>Maharana Pratap University of Agriculture and Technology</option>
                    <option>Maharashtra Animal and Fishery Sciences University</option>
                    <option>Maharashtra University of Health Sciences</option>
                    <option>Maharishi Dayanand University</option>
                    <option>Maharishi University of Management and Technology</option>
                    <option>Maharshi Dayanand Saraswati University</option>
                    <option>Mahatma Gandhi Kashi Vidyapeeth</option>
                    <option>Mahatma Gandhi University</option>
                    <option>Mahatma Gandhi University</option>
                    <option>Mahatma Gandhi University</option>
                    <option>Mahatma Jyoti Rao Phoole University</option>
                    <option>Mahatma Jyotiba Phule Rohilkhand University</option>
                    <option>Malaviya National Institute of Technology, Jaipur</option>
                    <option>Manav Bharti University</option>
                    <option>Mangalayatan University</option>
                    <option>Mangalore University</option>
                    <option>Manipal University</option>
                    <option>Manipur University</option>
                    <option>Manonmaniam Sundaranar University</option>
                    <option>Marathwada Agricultural University</option>
                    <option>Martin Luther Christian University</option>
                    <option>MATS University</option>
                    <option>Maulana Azad National Institute of Technology</option>
                    <option>Maulana Azad National Urdu University</option>
                    <option>Maulana Mazharul Haque Arabic and Persian University</option>
                    <option>Mewar University</option>
                    <option>MGM Institute of Health Sciences</option>
                    <option>Mizoram University</option>
                    <option>Mohammad Ali Jauhar University</option>
                    <option>Mohanlal Sukhadia University</option>
                    <option>Mother Teresa Women's University</option>
                    <option>Motilal Nehru National Institute of Technology</option>
                    <option>Nagaland University</option>
                    <option>NALSAR University of Law</option>
                    <option>Narendra Dev University of Agriculture and Technology</option>
                    <option>Narsee Monjee Institute of Management and Higher Studies</option>
                    <option>National Dairy Research Institute</option>
                    <option>National Institute of Design</option>
                    <option>National Institute of Fashion Technology</option>
                    <option>National Institute of Mental Health and Neuro Sciences</option>
                    <option>National Institute of Pharmaceutical Education and Research</option>
                    <option>National Institute of Pharmaceutical Education and Research, Guwahati</option>
                    <option>National Institute of Pharmaceutical Education and Research, Hajipur</option>
                    <option>National Institute of Pharmaceutical Education and Research, Hyderabad</option>
                    <option>National Institute of Pharmaceutical Education and Research, Rae Bareli</option>
                    <option>National Institute of Technology Calicut</option>
                    <option>National Institute of Technology Karnataka</option>
                    <option>National Institute of Technology Raipur</option>
                    <option>National Institute of Technology, Agartala</option>
                    <option>National Institute of Technology, Durgapur</option>
                    <option>National Institute of Technology, Hamirpur</option>
                    <option>National Institute of Technology, Jamshedpur</option>
                    <option>National Institute of Technology, Kurukshetra</option>
                    <option>National Institute of Technology, Patna</option>
                    <option>National Institute of Technology, Rourkela</option>
                    <option>National Institute of Technology, Silchar</option>
                    <option>National Institute of Technology, Srinagar</option>
                    <option>National Institute of Technology, Tiruchirappalli</option>
                    <option>National Institute of Technology, Warangal</option>
                    <option>National Law Institute University</option>
                    <option>National Law School of India University</option>
                    <option>National Law University</option>
                    <option>National Law University, Jodhpur</option>
                    <option>National Law University, Orissa</option>
                    <option>National University of Educational Planning and Administration</option>
                    <option>National University of Study and Research in Law</option>
                    <option>Navsari Agricultural University</option>
                    <option>Netaji Subhas Institute of Technology</option>
                    <option>Nilamber-Pitamber University</option>
                    <option>NIMS University</option>
                    <option>Nirma University of Science and Technology</option>
                    <option>NITTE University</option>
                    <option>Nizam's Institute of Medical Sciences</option>
                    <option>Noida International University</option>
                    <option>North Eastern Hill University</option>
                    <option>North Eastern Regional Institute of Science and Technology</option>
                    <option>North Maharashtra University</option>
                    <option>North Orissa University</option>
                    <option>NTR University of Health Sciences</option>
                    <option>O.P. Jindal Global University</option>
                    <option>Orissa University of Agriculture and Technology</option>
                    <option>Osmania University</option>
                    <option>Pacific University</option>
                    <option>Palamuru University</option>
                    <option>Pandit Deendayal Petroleum University</option>
                    <option>Pandit Ravishankar Shukla University</option>
                    <option>Panjab University</option>
                    <option>Patna University</option>
                    <option>PDPM Indian Institute of Information Technology, Design &amp; Manufacturing</option>
                    <option>PEC University of Technology</option>
                    <option>Periyar Maniammai University</option>
                    <option>Pondicherry University</option>
                    <option>Post Graduate Institute of Medical Education and Research</option>
                    <option>Potti Sreeramulu Telugu University</option>
                    <option>Pravara Institute of Medical Sciences</option>
                    <option>Presidency University</option>
                    <option>Pt. B. D. Sharma University of Health Sciences</option>
                    <option>Punjab Agricultural University</option>
                    <option>Punjab Technical University</option>
                    <option>Punjabi University</option>
                    <option>Rabindra Bharati University</option>
                    <option>Raffles University</option>
                    <option>Rajasthan Agricultural University</option>
                    <option>Rajasthan Ayurved University</option>
                    <option>Rajasthan Technical University Kota</option>
                    <option>Rajasthan University of Health Sciences</option>
                    <option>Rajendra Agricultural University</option>
                    <option>Rajiv Gandhi National University of Law</option>
                    <option>Rajiv Gandhi University</option>
                    <option>Rajiv Gandhi University of Health Sciences</option>
                    <option>Ramakrishna Mission Vivekananda University</option>
                    <option>Ranchi University</option>
                    <option>Rani Channamma University</option>
                    <option>Rashtrasant Tukadoji Maharaj Nagpur University</option>
                    <option>Rashtriya Sanskrit Sansthan</option>
                    <option>Ravenshaw University</option>
                    <option>Rayalaseema University</option>
                    <option>Sam Higginbottom Institute of Agriculture, Technology and Sciences</option>
                    <option>Sambalpur University</option>
                    <option>Sanjay Gandhi Post Graduate Institute of Medical Sciences</option>
                    <option>Sant Gadge Baba Amravati University</option>
                    <option>Sant Longowal Institute of Engineering and Technology</option>
                    <option>Sardar Patel University</option>
                    <option>Sardar Vallabhbhai National Institute of Technology, Surat</option>
                    <option>Sardar Vallabhbhai Patel University of Agriculture and Technology</option>
                    <option>Sardarkrushinagar Dantiwada Agricultural University</option>
                    <option>Sarguja University</option>
                    <option>SASTRA University</option>
                    <option>Satavahana University</option>
                    <option>Sathyabama University</option>
                    <option>Saurashtra University</option>
                    <option>School of Planning and Architecture, Delhi</option>
                    <option>Sharda University</option>
                    <option>Sher-e-Kashmir University of Agricultural Sciences and Technology of Kashmir</option>
                    <option>Shiv Nadar University</option>
                    <option>Shivaji University</option>
                    <option>Shoolini University of Biotechnology and Management Sciences</option>
                    <option>Shree Somnath Sanskrit University</option>
                    <option>Shreemati Nathibai Damodar Thackersey Women's University</option>
                    <option>Shri Guru Ram Rai Education Mission</option>
                    <option>Shri Lal Bahadur Shastri Rashtriya Sanskrit Vidyapeetha</option>
                    <option>Shri Mata Vaishno Devi University</option>
                    <option>Shri Venkateshwara University</option>
                    <option>Shridhar University</option>
                    <option>Sidho Kanho Birsha University</option>
                    <option>Sido Kanhu Murmu University</option>
                    <option>Sikkim Manipal University</option>
                    <option>Sikkim University</option>
                    <option>Singhania University</option>
                    <option>Sir Padampat Singhania University</option>
                    <option>South Asian University</option>
                    <option>Sree Chitra Thirunal Institute of Medical Sciences and Technology</option>
                    <option>Sree Sankaracharya University of Sanskrit</option>
                    <option>Sri Chandrasekharendra Saraswathi Viswa Mahavidyalaya</option>
                    <option>Sri Guru Granth Sahib World University</option>
                    <option>Sri Krishnadevaraya University</option>
                    <option>Sri Ramachandra University</option>
                    <option>Sri Sai University</option>
                    <option>Sri Venkateswara Institute of Medical Sciences</option>
                    <option>Sri Venkateswara University</option>
                    <option>Sri Venkateswara Vedic University</option>
                    <option>Sri Venkateswara Veterinary University</option>
                    <option>SRM University</option>
                    <option>Subharti University</option>
                    <option>SunRise University</option>
                    <option>Suresh Gyan Vihar University</option>
                    <option>Swami Ramanand Teerth Marathwada University</option>
                    <option>Symbiosis International University</option>
                    <option>Tamil Nadu Agricultural University</option>
                    <option>Tamil Nadu Dr Ambedkar Law University</option>
                    <option>Tamil Nadu Dr. M.G.R.Medical University</option>
                    <option>Tamil Nadu Physical Education and Sports University</option>
                    <option>Tamil Nadu Teacher Education University</option>
                    <option>Tamil Nadu Veterinary and Animal Sciences University</option>
                    <option>Tamil University</option>
                    <option>Tata Institute of Fundamental Research</option>
                    <option>Tata Institute of Social Sciences</option>
                    <option>Teerthanker Mahaveer University</option>
                    <option>Telangana University</option>
                    <option>TERI University</option>
                    <option>Tezpur University</option>
                    <option>Thapar University</option>
                    <option>The English and Foreign Languages University</option>
                    <option>The Indian Law Institute</option>
                    <option>The LNM Institute of Information Technology</option>
                    <option>The Maharaja Sayajirao University of Baroda</option>
                    <option>The National University of Advanced Legal Studies</option>
                    <option>The WB National University of Juridical Sciences</option>
                    <option>Thiruvalluvar University</option>
                    <option>Tilka Manjhi Bhagalpur University</option>
                    <option>Tripura University</option>
                    <option>Tumkur University</option>
                    <option>University of Agricultural Sciences, Bangalore</option>
                    <option>University of Agricultural Sciences, Dharwad</option>
                    <option>University of Allahabad</option>
                    <option>University of Burdwan</option>
                    <option>University of Calcutta</option>
                    <option>University of Calicut</option>
                    <option>University of Delhi</option>
                    <option>University of Gour Banga</option>
                    <option>University of Hyderabad</option>
                    <option>University of Jammu</option>
                    <option>University of Kalyani</option>
                    <option>University of Kashmir</option>
                    <option>University of Kerala</option>
                    <option>University of Kota</option>
                    <option>University of Lucknow</option>
                    <option>University of Madras</option>
                    <option>University of Mumbai</option>
                    <option>University of Mysore</option>
                    <option>University of North Bengal</option>
                    <option>University of Petroleum and Energy Studies</option>
                    <option>University of Pune</option>
                    <option>University of Rajasthan</option>
                    <option>University of Science and Technology, Meghalaya</option>
                    <option>University of Solapur</option>
                    <option>University of Technology &amp; Management</option>
                    <option>Utkal University</option>
                    <option>Utkal University of Culture</option>
                    <option>Uttar Pradesh Technical University</option>
                    <option>Uttarakhand Technical University</option>
                    <option>Uttaranchal Sanskrit University</option>
                    <option>Veer Bahadur Singh Purvanchal University</option>
                    <option>Veer Kunwar Singh University</option>
                    <option>Veer Narmad South Gujarat University</option>
                    <option>Veer Surendra Sai University of Technology</option>
                    <option>Vidyasagar University</option>
                    <option>Vijayanagara Sri Krishnadevaraya University</option>
                    <option>Vikram University</option>
                    <option>Vikrama Simhapuri University</option>
                    <option>Vinayaka Missions Sikkim University</option>
                    <option>Vinoba Bhave University</option>
                    <option>Visva Bharati University</option>
                    <option>Visvesvaraya National Institute of Technology</option>
                    <option>Visvesvaraya Technological University</option>
                    <option>VIT University</option>
                    <option>West Bengal State University</option>
                    <option>West Bengal University of Animal and Fishery Sciences</option>
                    <option>West Bengal University of Health Sciences</option>
                    <option>West Bengal University of Technology</option>
                    <option>YMCA University of Science and Technology</option>
                    <option>Yogi Vemana University</option>
                </select>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="control-group">
            <label class="control-label" for="major">Major</label>
            <div class="controls">
                <select id="major" name="major" class="input-xxlarge">
                    <option>Adult Education, Community Development and Counselling Psychology </option>
                    <option>Anaesthesia </option>
                    <option>Anatomy, Division of (Dept. of Surgery)</option>
                    <option>Anthropology </option>
                    <option>Anthropology and the Study of Religion </option>
                    <option>Art </option>
                    <option>Astronomy and Astrophysics </option>
                    <option>Banting and Best Department of Medical Research </option>
                    <option>Biochemistry </option>
                    <option>Biology (UTM) </option>
                    <option>Cell and Systems Biology </option>
                    <option>Chemical and Physical Sciences</option>
                    <option>Chemical Engineering and Applied Chemistry </option>
                    <option>Chemistry </option>
                    <option>Civil Engineering </option>
                    <option>Classics </option>
                    <option>Commerce Programs </option>
                    <option>Computer and Mathematical Sciences</option>
                    <option>Computer Science </option>
                    <option>Curriculum, Teaching and Learning </option>
                    <option>Earth Sciences</option>
                    <option>East Asian Studies </option>
                    <option>Ecology and Evolutionary Biology </option>
                    <option>Economics</option>
                    <option>Economics</option>
                    <option>Electrical & Computer Engineering </option>
                    <option>Engineering Science </option>
                    <option>English </option>
                    <option>English and Drama</option>
                    <option>Environmental Engineering and Energy Systems</option>
                    <option> </option>
                    <option>Family and Community Medicine </option>
                    <option>French</option>
                    <option>Geography</option>
                    <option>Geography</option>
                    <option>Germanic Languages and Literatures </option>
                    <option>Historical Studies</option>
                    <option>History </option>
                    <option>Human Development and Applied Psychology </option>
                    <option>Humanities</option>
                    <option>Immunology </option>
                    <option>Italian Studies </option>
                    <option>Laboratory Medicine and Pathobiology </option>
                    <option>Language Studies</option>
                    <option>Lassonde Program in Mineral Engineering </option>
                    <option>Life Sciences</option>
                    <option>Linguistics </option>
                    <option>Management</option>
                    <option>Management</option>
                    <option>Materials Science and Engineering </option>
                    <option>Mathematical and Computational Sciences</option>
                    <option>Mathematics </option>
                    <option>Mechanical and Industrial Engineering </option>
                    <option>Medical Biophysics </option>
                    <option>Medical Imaging </option>
                    <option>Medicine </option>
                    <option>Molecular Genetics</option>
                    <option>Near and Middle Eastern Civilizations </option>
                    <option>Nutritional Sciences </option>
                    <option>Obstetrics and Gynaecology </option>
                    <option>Occupational Science and Occupational Therapy </option>
                    <option>Ophthalmology and Vision Sciences </option>
                    <option>Otolaryngology </option>
                    <option>Paediatrics </option>
                    <option>Pharmacology </option>
                    <option>Pharmaceutical Sciences </option>
                    <option>Philosophy </option>
                    <option>Philosophy</option>
                    <option>Physical and Environmental Sciences</option>
                    <option>Physical Therapy </option>
                    <option>Physics </option>
                    <option>Physiology </option>
                    <option>Political Science </option>
                    <option>Political Science</option>
                    <option>Psychiatry </option>
                    <option>Psychology </option>
                    <option>Public Health Sciences </option>
                    <option>Radiation Oncology </option>
                    <option>Rehabilitation Science </option>
                    <option>Religion </option>
                    <option>Slavic Languages and Literatures </option>
                    <option>Social Sciences</option>
                    <option>Sociology </option>
                    <option>Sociology</option>
                    <option>Sociology and Equity Studies in Education </option>
                    <option>Spanish and Portuguese </option>
                    <option>Speech-Language Pathology </option>
                    <option>Statistical Sciences </option>
                    <option>Surgery </option>
                    <option>Theory and Policy Studies in Education </option>
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="control-group">
            <label class="control-label" for="submit"></label>
            <div class="controls">
                <input type="submit" id="submit" name="submit" class="btn btn-success" value="Submit">
            </div>
        </div>

    </fieldset>
</form>

<script src="@routes.Assets.at("javascripts/student_signup.js")" type="text/javascript"></script>