@(featurettes: List[controllers.bootstrap.Featurette])

<div class="featurette">
    <hr class="featurette-divider">

    @featurettes.map { feature =>
        @if(feature.imageLink != "") {
            <img class="featurette-image pull-left" src="feature.imageLink">
        }
        <h2 class="featurette-heading">@feature.title <span class="muted">@feature.tagline</span></h2>
        <p class="lead">@feature.lead</p>
        @if(feature.button != "") {
            <a class="btn btn-large btn-primary" href="@feature.buttonLink">@feature.button</a>
        }

        <hr class="featurette-divider">
    }
</div>